h1{
  
   font-family: Monoton, cursive;
}
.frame td {
border: 2px solid gray;
    font-size: 12.5pt;
    white-space: normal;
    padding-left: 5px;
    padding-right: 5px;
	cursor: pointer;
	

}


.frame{
	border: 2px solid black;
    border-collapse:collapse;
	margin: auto;

}

